.form {
  max-width: 385px;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  width: 100%;
  padding: 20px 0;
  margin: 0 0 32px;
  border-radius: 4px;
  background-color: #1878dc;
  transition: background-color 0.1s ease;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #838383;
  border-radius: 2px;
  background-color: #fff;
  cursor: pointer;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.form__checkbox:checked {
  background-color: #1878dc;
  background-image: url(../images/check.svg);
  background-position: center;
  background-repeat: no-repeat;
}
